@import "variables";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato";
  background: $color4;
  color: $color1;
  .App {
    text-align: center;
    margin: 0 auto;
  }
  .grid {
    justify-content: center;
    margin: 0 auto;
    display: grid;
    border: 15px solid $color2;
    border-radius: 10px;
  }
  .box {
    border: 1px solid $color2;
    margin-left: -1px;
    margin-bottom: -1px;
    &:hover {
      background: $color1;
    }
  }
  .on {
    background: $color1;
  }
  .off {
    background: $color4;
  }
}
