@import './variables';
.button-list{
    list-style: none;
    margin: 1rem auto;
    padding: 0;
    display:flex;
    justify-content: center;
    button{
        cursor: pointer;
        font-family:inherit;
        color:$color1;
        background: $color3;
        border:none;
        font-weight: bold;
        padding: .8rem 1.5rem;
        display: block;
        width: 100%;
        &:hover{
            background: darken($color3,8);
        }
    }
    .dropdown-btn{
        &:hover .dropdown{
            display: block;
        }
    }
    .dropdown{
        display: none; 
        list-style: none;
    }
}
